nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.nav.navbar-nav
     if user
      li.nav-item(class=(title == 'Members' ? 'active' : ''))
       a.nav-link(href='/') Members
     if !user  
      li.nav-item(class=(title == 'Register' ? 'active' : ''))
       a.nav-link(href='/register') Register
      li.nav-item(class=(title == 'Login' ? 'active' : ''))
       a.nav-link(href='/login') Login  
    ul.nav.navbar-nav.navbar-right   
     if user
      li.nav-item
       a.nav-link(href='/logout') Logout